/*-------------------GENERAL--------------------*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif!important; /* Se agrega el !important para que Bootstrap no altere el estilo */
    background-color: #ebe2e2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: justify;
}

/*----------NAVEGACIÓN Y PIE DE PÁGINA----------*/
header, footer {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 100%;
}

.logo a {
    text-decoration: none;
    color: yellow;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo img, footer img {
    height: 10vw;
    width: auto;
    
}

nav, footer {
    display: flex;
    align-items: center;
}

nav a, footer a {
    color: silver;
    margin: 10px;
    text-decoration: none;
}

/*------------------CARRUSEL--------------------*/
.carousel-item {
    height: 80vh; /* Esto es para eliminar en Mobile */
}

.carousel img {
    height: 100%;
}

/*------------------NOSOTROS--------------------*/
.titulo-sobre{
    text-align: center;
    font-size: 2rem;

}

.nosotros {
    color: #efecec;
    background: rgba(64, 35, 4, 0.822);
    padding: 15px;
    margin: 5px 5%;
    border-radius: 10px;
    text-align: center;
}

.nosotros img {
    float: left;
}


/*------------------CONTACTO--------------------*/
.form-register, .form-login{
    width: 35%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4,.form-login h4 {
    font-size: 22px;
    margin-bottom: 20px   
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p, .form-login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a, .form-login a {
    color: white;
    text-decoration: none;
}

.form-register a:hover, .form-login a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons, .form-login .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.mapa{
    padding: 3em 0;

}

.mapa p{
   
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.titulo-mapa{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}
.parrafo-mapa{
    text-align: center;
    margin: 0 0 2em;

}
.redes_sociales {
    text-align: center; /* Centrar el contenido */
}

.redes_sociales a {
    display: inline-block; /* Alinear los elementos en línea */
    margin: 0 10px; /* Agregar espacio entre los elementos */
    color: black; /* Cambiar el color a negro */
}

.redes_sociales a i {
    font-size: 32px; /* Tamaño de fuente más grande para los iconos */
}
@media screen and (max-width:480px){
     .mapa-contenido {
        width: auto;
    }
}